## Carga de Librerias

In [2]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Carga de datos Procesados

In [4]:
train_data = pd.read_csv('../data/processed/train_processed.csv')
train_data.head()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male
0,1,0,3,"Braund, Mr. Owen Harris",-0.565736,1,0,A/5 21171,7.2500,NaN,False,False,True,False,True
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0.663861,1,0,PC 17599,71.2833,C85,True,False,False,True,False
2,3,1,3,"Heikkinen, Miss. Laina",-0.258337,0,0,STON/O2. 3101282,7.9250,NaN,False,False,True,True,False
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0.433312,1,0,113803,53.1000,C123,False,False,True,True,False
4,5,0,3,"Allen, Mr. William Henry",0.433312,0,0,373450,8.0500,NaN,False,False,True,False,True

# Configuramos nuestras variables

In [16]:
X = train_data.drop('Survived', axis=1)
y = train_data['Survived']
print(X.head())  # Ver características
print(y.head())  # Ver variable objetivo

   PassengerId  Pclass                                               Name  \
0            1       3                            Braund, Mr. Owen Harris
1            2       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2            3       3                             Heikkinen, Miss. Laina
3            4       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4            5       3                           Allen, Mr. William Henry

        Age  SibSp  Parch            Ticket     Fare Cabin  Embarked_C  \
0 -0.565736      1      0         A/5 21171   7.2500   NaN       False
1  0.663861      1      0          PC 17599  71.2833   C85        True
2 -0.258337      0      0  STON/O2. 3101282   7.9250   NaN       False
3  0.433312      1      0            113803  53.1000  C123       False
4  0.433312      0      0            373450   8.0500   NaN       False

   Embarked_Q  Embarked_S  Sex_female  Sex_male
0       False        True       False      True
1       False       False        True     False
2       False        True        True     False
3       False        True        True     False
4       False        True       False      True
0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

# Dividir train y test

In [22]:
# Eliminar columnas que no se usarán en el modelado
X = train_data.drop(['Survived', 'Name', 'Ticket', 'Cabin'], axis=1)

# Opcional: Tratar valores faltantes en 'Cabin'
# X['Cabin'].fillna('Desconocido', inplace=True)  # Descomentar si decides usar 'Cabin'

# Asegurarse de que no hay más valores faltantes
print(X.isnull().sum())

# Continuar con la división de datos
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

PassengerId    0
Pclass         0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked_C     0
Embarked_Q     0
Embarked_S     0
Sex_female     0
Sex_male       0
dtype: int64

# Construir y Entrenar Modelos

In [25]:
# Crear y entrenar el modelo de regresión logística
model = LogisticRegression()
model.fit(X_train, y_train)

# Hacer predicciones sobre el conjunto de prueba
y_pred = model.predict(X_test)

# Evaluar el modelo
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy del modelo: {accuracy:.2f}')

Accuracy del modelo: 0.80

C:\Users\USUARIO\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

# Validación Cruzada

In [30]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:\n", cm)

Confusion Matrix:
 [[90 15]
 [20 54]]